*{
  font-family: monospace;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}

.nav{

  display: flex;
  justify-content: center;
  gap: 20px;
  height: 40px;
  align-items: center;
  background-color: lightgray;
}

.section{
  text-align: center; 
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
  margin-top: 0;
  height: 80vh;
  background-color: lightyellow;
}

.footer{
  text-align: center;
  height: 40px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: absolute;
  bottom: 0%;
  background-color: lightgreen;
  width: 100%;
}