*{
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
}
div {
  text-align: center;
  margin-top: 50px;
}
h1 {
  color: teal;
}
h2 {
  color: olive;
}
p {
  color: gray;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: lightgray;
}
